<!-- create login card   -->
<div class="loginCard">
    <!-- logo image can be replaced -->
    <img src="../assets/mylogo.png" alt="">
    <!-- login form header -->
    <h1>Login to your Dashborad</h1>
    <form >
        <input type="email" name="email" placeholder="Enter Your Email" id="emailInput">
        <input type="password" name="password" placeholder="Enter the Password" id="passwordInput">
        <button type="submit" id="subButton"><span>Login to Dashboard</span></button>
    </form>
</div>


