<!-- create login card   -->
<div class="loginCard">
    <!-- logo image can be replaced -->
    <img src="../assets/mylogo.jpg" alt="">
    <!-- login form header -->
    <h1>Login to your Dashborad</h1>
    <form [formGroup]="loginInterfaceForm" (ngSubmit)="submitLogin()">
        <input type="email" name="email" placeholder="Enter Your Email" id="emailInput" formControlName="email">
        <input type="password" name="password" placeholder="Enter the Password" id="passwordInput" formControlName="password">
        <h3>{{errorMessage}}</h3>
        <!-- button wil be disabled if the form fields empty or email input is not an email -->
        <button id="subButton" type="submit" [disabled]="loginInterfaceForm.invalid"><span>Login to Dashboard</span></button>
    </form>
</div>


