<div class="header">
    <a href="login/dashboard" class="logo">Hook Track</a>
    <strong><label for="searchInput" style="margin-left: 20px; color: white;">Search For:</label></strong>
    <input type="text" name="searchInput" id="searchInput" value="" (keyup)="searchforVisit($event)">
    <div class="header-right">
        <a class="active" id="downloadLink" (dblclick)="downloadAsExcel(visitsTable)">Double click to Download Table as EXCEL file</a>
        <button (click)="logOut()">Log out</button>
    </div>
</div>
<div class="mytable" id="visitsTable">
    <table #visitsTable>
        <tr>
            <th>#</th>
            <th>User name</th>
            <th>Name</th>
            <th>Phone number</th>
            <th>Group</th>
            <th>Sub Group</th>
            <th>Search name</th>
            <th>Specialty</th>
            <th>Type</th>
            <th>Planed</th>
            <th>Status</th>
            <th>Line</th>
            <th>isMoking</th>
            <th>Time</th>
            <th>Classy</th>
            <th>Governorate</th>
            <th>Address</th>
            <th>Dist</th>
            <th>Image URL</th>
            <th>Date Of Visit</th>
            <th>Completed Date</th>
            <th>Date Of Next Visit</th>
            <th>Note</th>
        </tr>
        <tr *ngFor="let visit of completedVisits; index as i">
            <td>{{i+1}}</td>
            <td>{{visit.username}}</td>
            <td>{{visit.name}}</td>
            <td>{{visit.phone}}</td>
            <td>{{visit.group}}</td>
            <td>{{visit.subgroup}}</td>
            <td>{{visit.searchName}}</td>
            <td>{{visit.specialty}}</td>
            <td>{{visit.type}}</td>
            <td>{{visit.planed}}</td>
            <td>{{visit.status}}</td>
            <td>{{visit.line}}</td>
            <td>{{visit.isMocking}}</td>
            <td>{{visit.time}}</td>
            <td>{{visit.classy}}</td>
            <td>{{visit.governorate}}</td>
            <td style="width: 80px;">{{visit.address}}</td>
            <td>{{visit.dist}}</td>
            <td>{{visit.image}}</td>
            <td>{{visit.dateOfVisit}}</td>
            <td>{{visit.completedDate}}</td>
            <td>{{visit.dateOfNextVisit}}</td>
            <td>{{visit.note}}</td>
        </tr>
    </table>
</div>